$background: #D8D9C1;
$text: #020126;
$input-bg-color: #FFF;
$input-text-color: #020126;
$button-bg-color: #04BF7B;
$button-text-color: #FFF;


:root {
	background: $background;
  color: $text;
  margin: 0;
  padding: 0;
	font: 1rem "Fira Code", monospace;
}

a {
	color: inherit;	
	&:hover {
		color: $button-bg-color;
	}
}

body {
  margin: 0;
}

.container { 
  min-height: 100vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  &__item {
    display: inherit;
    align-content: center;
    justify-content: center;
  }

}

.container--generated {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 10rem;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  &__item {
    display: inherit;
    align-content: center;
    justify-content: center;
  }


  &__item--generated {
    display: inherit;
    align-content: baseline;
    justify-content: center;
  }

}

.uppercase {
	text-transform: uppercase;
}

.btn {
		display: inline-block;
		background: transparent;
		color: inherit;
		font: inherit;
		border: 0;
		outline: 0;
		padding: 0;
		transition: all 200ms ease-in;
    cursor: pointer;
	
	&--primary {
		background: $button-bg-color;
		color: $button-text-color;
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
		border-radius: 2px;
		padding: 12px 36px;
		
		&:hover {
			background: darken($button-bg-color, 4%);
		}
		
		&:active {
			background: $button-bg-color;
			box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
		}
	}
	
	&--inside {
		margin-left: -96px;
	}
}

.form {	
	&__field {
		width: 35rem;
		background: #fff;
		color: $input-text-color;
		font: inherit;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
		border: 0;
		outline: 0;
    padding: 22px 18px;
    margin-left: 2rem;
	}
}

.generated {
  width: 30rem;
  background: #fff;
  color: $input-text-color;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}